/*styles for the list elements*/
.listelement {
    margin: 0rem;
    background-color: white;
    padding: 1.5%;
    list-style-type: none;
}
.title {
    display:table;
    margin: 0 auto;
    color: grey;
    font-size: 180%;
}
.date .address{
    color: red;
}
.description {
    display: block;
}
.details {
    float: right;
    background-color: var(--main-blue);
    color: white;
    outline: none;
    padding: .5rem;
    border: none;
    border-radius: 1rem;
}

.volunteers {
    font-size: 130%;
    display:table;
    margin: 0 auto;

}
/*styles for the table*/
table {
font-family: arial, sans-serif;
border-collapse: collapse;
width: 100%;
}

td, th {
border: 1px solid #dddddd;
text-align: left;
padding: 8px;
}

tr:nth-child(even) {
background-color: #dddddd;
}