body {
    margin-top: 20%;
    background-color: #FFFFFF;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 100%;
}
body #welcome {
    text-align: center;
}

/*styles for the list elements*/
.listelement {
    border: .06rem solid #ccc;
    margin: 0rem;
    background-color: white;
    padding: 1.5%;
    list-style-type: none;
}
.title {
    color: grey;
    font-size: 200%;
}
.date {
    color: red;
}
.address {
    color: blue;
}
.description {
    color: green;
}

