:root{
/*    --main-blue: #00a5ff;*/
    --main-blue: #0083FF;
    --main-blue-darker: #3B5998;
}

body {
    margin-top: 7%;
}
body .mobile_margin {
    margin-top: 20%;
}

/*create box styles*/
body .create-box {
    padding: 1rem;
    background-color: #FFFFFF;
    border: .1rem solid #ccc;
    box-shadow: .1rem .1rem .2rem .2rem #ccc;
    border-radius: 1rem;
}

/*create button styles*/
body .create-button, .create-button:visited, .create-button:active {
    outline: none;
    color: var(--main-blue);
    box-shadow: .1rem .1rem .15rem .15rem #ccc;
    background-color: white;
    padding: .7% 1.4% .7% 1.4%;
    font-size: 120%;
    font-family: Trebuchet MS;
    border: .2rem solid var(--main-blue);
    border-radius: 1rem;
    margin-top: 2rem;
}
body .create-button:hover {
    box-shadow: .0rem 0rem .1rem .2rem var(--main-blue);
}

h1, h2, h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif MS;
}


.navbar-custom {
    background-color: var(--main-blue);
    /*background-color: #ebf5ff;*/
    box-shadow: .2rem .2rem .1rem .1rem #ccc;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*Default is none; shown by firebase*/
.navbar-nav .logged_in,
.navbar-nav .logged_out {
    display: none;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: #FFFFFF;
    padding: .85rem;
}
/* change the link color and add padding for height */
.navbar-custom .navbar-nav .nav-link {
    color: #FFFFFF;
    padding: .85rem;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #000000;
    /*background-color: #FFFFFF;
    border: .1rem solid #FFFFFF;
    border-radius: 1rem;*/
    /*background-color: #ee4400;*/ /* add background-color to active links */
}
    
    
    